<div class="projectGrid">
  <div class="txtbox">
    <h3>Things to Remember:</h3>
    <hr />
    <ul>
      <li>API key can only be viewed once, it will be hidden afterwards.</li>
      <br />
      <li>Some keywords are reserved: { admin, config, test, local }</li>
      <br />
      <li>You are not allowed to create database with name matching to reserved keywords.</li>
    </ul>
  </div>
  <div class="txtbox">
    <div>
      <form id="addProjectForm">
        <div>
          <input type="text" name="name" placeholder="  Project Name *" required />
        </div>
        <div>
          <input type="text" name="dbName" placeholder="  Database Name *" required />
        </div>
        <div>
          <input type="text" name="username" placeholder="  Database User *" required />
        </div>
        <div>
          <input type="password" name="password" placeholder="  Database Password *" required />
        </div>
        <div>
          <input type="submit" class="btn" value="Add Project!" />
        </div>
      </form>
    </div>
  </div>
</div>
