<div class="projectGridThree">
  <div class="txtbox" id="">
    <strong>Collections:</strong>
    <hr />
    <div id="collectionList" style="height: 350px; overflow: auto;"></div>
  </div>
  <div class="txtbox" id="">
    <strong id="displayIDListMessage"></strong>
    <hr />
    <div id="idList" style="height: 350px; overflow: auto;"></div>
  </div>
  <div class="txtbox" id="">
    <strong id="exploreProjectStatusMessage"></strong>
    <hr />
    <div style="height: 350px; overflow: auto;">
      <div id="clickCollectionMessage" class="longText"></div>
    </div>
  </div>
</div>
