<div class="navigation">
  <div style="float: left">
    <img id="gotoHome" class="icon" src="/images/home.png" />
    <img id="gotoAdd" class="icon" src="/images/add.png" />
  </div>

  <div class="notification" id="message"></div>

  <div>
    <img id="gotoHelp" class="icon" style="margin-left: 20px" src="/images/help.png" />
  </div>

  <div>
    <img id="logout" class="icon" style="margin-left: 14px" src="/images/logout.png" />
  </div>
</div>
