<div class="projectGrid">
  <div class="login">
    <strong>New User Sign up !</strong>
    <hr />
    <form id="signupForm">
      <div>
        <input type="text" name="username" placeholder="  Username..." required />
      </div>
      <div>
        <input type="password" name="password" placeholder="  Password..." required />
      </div>
      <div>
        <input type="submit" class="btn" value="Sign up!" />
      </div>
    </form>
  </div>
  <div class="login">
    <strong>Already Registered? Login!</strong>
    <hr />
    <form id="loginForm">
      <div>
        <input type="text" name="username" placeholder="  Username..." required />
      </div>
      <div>
        <input type="password" name="password" placeholder="  Password..." required />
      </div>
      <div>
        <input type="submit" class="btn" value="Login!" />
      </div>
    </form>
  </div>
</div>
